.cards {
  border: 4px solid black;
  margin: 30px;
  padding: 50px;
  width: 50px;
  height: 50px
}

.shuffle {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width:100%;
  max-height:100%;
}

 section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
} 

h1 {
  text-align: center;
  /* margin-top: 100px;
  padding-top: 40px; */
}

button {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.game {
  background-color: orange;
  /* width: 50%; */
  height: 100vh;
  /* overflow: hidden; */
}

div {
  background: white;
  /*box-sizing: border-box; */
}

.win {
  background-color: blueviolet;
}

.win button {
  margin: 20px;
  padding: 8px;
  background-color: white;
  /* color: white; */
}

.win button:hover {
  background-color: black;
  color: white;
}